/* Begin of Cover */
.cover {
    background-color: var(--dark-background);
    height: fit-content;
    min-height: 100vh;
}

.cover img {
    width: 100%;
    max-height: 75vh;
    object-fit: fill;
}

.quote-box {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.quote-text {
    /* font-size: 2rem; */
    color: var(--bright-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quote-author {
    font-family: linka;
    /* font-size: 2.5rem; */
    color: var(--highlight-background);
}

.see-work, .see-work:hover {
    color: white;
    background-color: var(--highlight-text);
    padding: 1rem 4rem;
    border-radius: 1rem;
    text-decoration: none;
}
/* End of cover */

/* Presentation texts */
article {
    color: var(--text-color);
    margin-top: 1.25rem;
}

.title-text {
    font-family: linka;
    color: var(--highlight-text);
    font-size: min(calc(1rem + 8vw), 130px);
}

.title-text-small {
    font-family: linka;
    color: var(--highlight-text);
    font-size: min(calc(.5rem + 7.5vw), 110px);
}

.vertical {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    font-size: calc(1.25rem + 8vh);
}

/* End of Presentation texts */